/*This file contains basic styling for the scaffold. Students can extend and customize the styles as needed.*!*/
@import url('https://fonts.googleapis.com/css2?-mily=Poppins:wght@300;400;500;600&display=swap');

        .home-container{
            width: 100%;
            height: 50vh;
            display: flex;
            align-items: center;
            justify-content: center;
          
        }
        .profile-card{
            position: relative;
            width: 220px;
            height: 220px;
            padding: 30px;
            border-radius: 220px;
            box-shadow: -5px 8px 45px rgba(255, 255, 255, 0.126);
            transition: all .2s;
            margin: 0 20px;
            backdrop-filter: blur(100%);
            background: rgba(0, 0, 0, 0.11);
        }
        .profile-card:hover{
            border-radius: 10px;
            height: 260px;
        }
        .profile-card .img{
            position: relative;
            width: 100%;
            height: 100%;
        }
        .profile-card:hover img{
            border-radius: 10px;
            transform: translateY(-70px);
        }
        .img img{
            object-fit: fill;
            width: 100%;
            border-radius: 50%;
            transition: all .4s;
            z-index: 99;
        }
        .caption{
            text-align: center;
            transform: translateY(-90px);
            opacity: 0;
            pointer-events: none;
            transition: all .5s;
        }
        .profile-card:hover .caption{
            opacity: 1;
            pointer-events: all;
        }
        .caption h2{
            font-size: 21px;
            color: #ffffff;
            font-weight: 600;
        }
        .caption p{
            font-size: 15px;
            font-weight: 500;
            margin: 2px 0 12px 0;
        }
        .caption .social-links i{
            font-size: 21px;
            margin: 0 3px;
            cursor: pointer;
            color: #ffffff;
            transition: all .4s;
        }
        .caption .social-links i:hover{
            color: #0c52a1;
        }
      
h1{
          color: #ffffff;
          font-size: 80px;
          text-align: center;
          letter-spacing: 15px;
          animation: animate 5s linear infinite;
      }

h3{
        color: #ffffff;
          text-align: center;
    }
@keyframes animate {
  100%
  { color:#ffffff;
    text-shadow: none;
  }
  18.1%,20.1%,30%,50%,60.1%,65%, 80.1%,90%,92.1%,100%
  {
    color: white;
    text-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4;
  }
  
}
header {
    background-color: #161616;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #161616;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.ccontainer{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  
  }
  .clock{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
  }
  
  .ccontainer::before{
    content: '';
    width: 180px;
    height: 180px;
    background: #f41b75;
    border-radius: 5px;
    position: absolute;
    left: 5%;
    top: -50%;
    z-index: -1;
  }
  
  .ccontainer::after{
    content: '';
    width: 180px;
    height: 180px;
    background: #419aff;
    border-radius: 50%;
    position: absolute;
    left: 80%;
    bottom: -50%;
    z-index: -1;
  }
  .clock span{
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
    color: white;
  
  }
  .clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
  }
  #hrs::after{
    content: "HOURS";
    
  }
  
  #min::after{
    content: "MIN";
  }
  
  #sec::after{
    content: "SEC";
  }

/*This file contains basic styling for the scaffold. Students can extend and customize the styles as needed.*!*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  *::before, *::after{
    padding: 0;
    margin: 0;
  }
  body{
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: center;
  }
  
  header {
      background-color: #161616;
      color: white;
      padding: 10px 0;
  }
  
  nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
  }
  
  nav ul li {
      margin: 0 15px;
  }
  
  nav ul li a {
      color: white;
      text-decoration: none;
  }
  
  main {
      padding: 20px;
      text-align: center;
  }
  
  footer {
      background-color: #161616;
      color: white;
      text-align: center;
      padding: 10px 0;
      position: fixed;
      width: 100%;
      bottom: 0;
  }
  
    /* nice scroll bar */
    ::-webkit-scrollbar {
      width: 5px;
    }
    ::-webkit-scrollbar-track {
      background: #f5f5f5;
      border-radius: 50px;
    }
    ::-webkit-scrollbar-thumb {
      background: var(--primary-clr);
      border-radius: 50px;
    }
    .grid-pcontainer{
      display: grid;
      border: 1px soild white;
      grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
      gap:15px;
      justify-content:center;
    }
  
    .pcontainer{
      position: relative;
      width: 1200px;
      min-height: 850px;
      margin: 0 auto;
      padding: 5px;
      color: #fff;
      display: flex;
      border-radius: 10px;
      background: linear-gradient(#5cd1ff 0%, #0256a5 90%);
      box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.342);
      
    }
  
    .left {
      width: 60%;
      padding: 20px;
    }
    .calendar {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      color: #878895;
      border-radius: 5px;
      background-color: #fff;
    }
    /* set after behind the main element */
    .calendar::before,
    .calendar::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      width: 12px;
      height: 97%;
      border-radius: 0 5px 5px 0;
      background-color: #d3d4d6d7;
      transform: translateY(-50%);
    }
    .calendar::before {
      height: 94%;
      left: calc(100% + 12px);
      background-color: rgb(153, 153, 153);
    }
    .calendar .month {
      width: 100%;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 50px;
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: capitalize;
    }
    .calendar .month .prev,
    .calendar .month .next {
      cursor: pointer;
    }
    .calendar .month .prev:hover,
    .calendar .month .next:hover {
      color: var(--primary-clr);
    }
    .calendar .weekdays {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      font-size: 1rem;
      font-weight: 500;
      text-transform: capitalize;
    }
    .weekdays div {
      width: 14.28%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .calendar .days {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 20px;
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 20px;
    }
    .calendar .days .day {
      width: 14.28%;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: var(--primary-clr);
      border: 1px solid #f5f5f5;
    }
    .calendar .days .day:nth-child(7n + 1) {
      border-left: 2px solid #f5f5f5;
    }
    .calendar .days .day:nth-child(7n) {
      border-right: 2px solid #f5f5f5;
    }
    .calendar .days .day:nth-child(-n + 7) {
      border-top: 2px solid #f5f5f5;
    }
    .calendar .days .day:nth-child(n + 29) {
      border-bottom: 2px solid #f5f5f5;
    }
    
    .calendar .days .day:not(.prev-date, .next-date):hover {
      color: #fff;
      background-color: var(--primary-clr);
    }
    .calendar .days .prev-date,
    .calendar .days .next-date {
      color: #b3b3b3;
    }
    .calendar .days .active {
      position: relative;
      font-size: 2rem;
      color: #fff;
      background-color: var(--primary-clr);
    }
    .calendar .days .active::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      
    }
    .calendar .days .today {
      font-size: 2rem;
    }
    .calendar .days .event {
      position: relative;
    }
    .calendar .days .event::after {
      content: "";
      position: absolute;
      bottom: 10%;
      left: 50%;
      width: 75%;
      height: 6px;
      border-radius: 30px;
      transform: translateX(-50%);
      background-color: var(--primary-clr);
    }
    .calendar .days .day:hover.event::after {
      background-color: #fff;
    }
    .calendar .days .active.event::after {
      background-color: #fff;
      bottom: 20%;
    }
    .calendar .days .active.event {
      padding-bottom: 10px;
    }
    .calendar .goto-today {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      padding: 0 20px;
      margin-bottom: 20px;
      color: var(--primary-clr);
    }
    .calendar .goto-today .goto {
      display: flex;
      align-items: center;
      border-radius: 5px;
      overflow: hidden;
      border: 1px solid var(--primary-clr);
    }
    .calendar .goto-today .goto input {
      width: 100%;
      height: 30px;
      outline: none;
      border: none;
      border-radius: 5px;
      padding: 0 20px;
      color: var(--primary-clr);
      border-radius: 5px;
    }
    .calendar .goto-today button {
      padding: 5px 10px;
      border: 1px solid var(--primary-clr);
      border-radius: 5px;
      background-color: transparent;
      cursor: pointer;
      color: var(--primary-clr);
    }
    .calendar .goto-today button:hover {
      color: #fff;
      background-color: var(--primary-clr);
    }
    .calendar .goto-today .goto button {
      border: none;
      border-left: 1px solid var(--primary-clr);
      border-radius: 0;
    }
    .pcontainer .right {
      position: relative;
      width: 40%;
      min-height: 100%;
      padding: 20px 0;
    }
    
    .right .today-date {
      width: 100%;
      height: 50px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      align-items: center;
      justify-content: space-between;
      padding: 0 40px;
      padding-left: 70px;
      margin-top: 50px;
      margin-bottom: 20px;
      text-transform: capitalize;
    }
    .right .today-date .event-day {
      font-size: 2rem;
      font-weight: 500;
    }
    .right .today-date .event-date {
      font-size: 1rem;
      font-weight: 400;
      color: #878895;
    }
    .events {
      width: 100%;
      height: 100%;
      max-height: 600px;
      overflow-x: hidden;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      padding-left: 4px;
    }
    .events .event {
      position: relative;
      width: 95%;
      min-height: 70px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 5px;
      padding: 0 20px;
      padding-left: 50px;
      color: #fff;
      background: linear-gradient(90deg, #3f4458, transparent);
      cursor: pointer;
    }
    /* even event */
    .events .event:nth-child(even) {
      background: transparent;
    }
    .events .event:hover {
      background: linear-gradient(90deg, var(--primary-clr), transparent);
    }
    .events .event .title {
      display: flex;
      align-items: center;
      pointer-events: none;
    }
    .events .event .title .event-title {
      font-size: 1rem;
      font-weight: 400;
      margin-left: 20px;
    }
    .events .event i {
      color: var(--primary-clr);
      font-size: 0.5rem;
    }
    .events .event:hover i {
      color: #fff;
    }
    .events .event .event-time {
      font-size: 0.8rem;
      font-weight: 400;
      color: #878895;
      margin-left: 15px;
      pointer-events: none;
    }
    .events .event:hover .event-time {
      color: #fff;
    }
    /* add tick in event after */
    .events .event::after {
      content: "âœ“";
      position: absolute;
      top: 50%;
      right: 0;
      font-size: 3rem;
      line-height: 1;
      display: none;
      align-items: center;
      justify-content: center;
      opacity: 0.3;
      color: var(--primary-clr);
      transform: translateY(-50%);
    }
    .events .event:hover::after {
      display: flex;
    }
    .add-event {
      position: absolute;
      bottom: 30px;
      right: 30px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      color: #878895;
      border: 2px solid #878895;
      opacity: 0.5;
      border-radius: 50%;
      background-color: transparent;
      cursor: pointer;
    }
    .add-event:hover {
      opacity: 1;
    }
    .add-event i {
      pointer-events: none;
    }
    .events .no-event {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      font-weight: 500;
      color: #878895;
    }
    .add-event-wrapper {
      position: absolute;
      bottom: 100px;
      left: 50%;
      width: 90%;
      max-height: 0;
      overflow: hidden;
      border-radius: 5px;
      background-color: #fff;
      transform: translateX(-50%);
      transition: max-height 0.5s ease;
    }
    .add-event-wrapper.active {
      max-height: 300px;
    }
    .add-event-header {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      color: #373c4f;
      border-bottom: 1px solid #f5f5f5;
    }
    .add-event-header .close {
      font-size: 1.5rem;
      cursor: pointer;
    }
    .add-event-header .close:hover {
      color: var(--primary-clr);
    }
    .add-event-header .title {
      font-size: 1.2rem;
      font-weight: 500;
    }
    .add-event-body {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 20px;
    }
    .add-event-body .add-event-input {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
    .add-event-body .add-event-input input {
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      border-bottom: 1px solid #f5f5f5;
      padding: 0 10px;
      font-size: 1rem;
      font-weight: 400;
      color: #373c4f;
    }
    .add-event-body .add-event-input input::placeholder {
      color: #a5a5a5;
    }
    .add-event-body .add-event-input input:focus {
      border-bottom: 1px solid var(--primary-clr);
    }
    .add-event-body .add-event-input input:focus::placeholder {
      color: var(--primary-clr);
    }
    .add-event-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
    }
    .add-event-footer .add-event-btn {
      height: 40px;
      font-size: 1rem;
      font-weight: 500;
      outline: none;
      border: none;
      color: #fff;
      background-color: var(--primary-clr);
      border-radius: 5px;
      cursor: pointer;
      padding: 5px 10px;
      border: 1px solid var(--primary-clr);
    }
    .add-event-footer .add-event-btn:hover {
      background-color: transparent;
      color: var(--primary-clr);
    }
    
    /* media queries */
    
    @media screen and (max-width: 1000px) {
      body {
        align-items: flex-start;
        justify-content: flex-start;
      }
      .pcontainer {
        min-height: 100vh;
        flex-direction: column;
        border-radius: 0;
      }
      .pcontainer .left {
        width: 100%;
        height: 100%;
        padding: 20px 0;
      }
      .pcontainer .right {
        width: 100%;
        height: 100%;
        padding: 20px 0;
      }
      .calendar::before,
      .calendar::after {
        top: 100%;
        left: 50%;
        width: 97%;
        height: 12px;
        border-radius: 0 0 5px 5px;
        transform: translateX(-50%);
      }
      .calendar::before {
        width: 94%;
        top: calc(100% + 12px);
      }
      .events {
        padding-bottom: 340px;
      }
      .add-event-wrapper {
        bottom: 100px;
      }
    }
    @media screen and (max-width: 500px) {
      .calendar .month {
        height: 75px;
      }
      .calendar .weekdays {
        height: 50px;
      }
      .calendar .days .day {
        height: 40px;
        font-size: 0.8rem;
      }
      .calendar .days .day.active,
      .calendar .days .day.today {
        font-size: 1rem;
      }
      .right .today-date {
        padding: 20px;
      }
    }
    
    .credits {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 10px;
      font-size: 12px;
      color: #fff;
      background-color: #265e99;
    }
    .credits a {
      color: #fff;
      text-decoration: none;
      font-weight: 600;
    }
    .credits a:hover {
      text-decoration: underline;
    }
  
    :root {
      --primary-clr: #265e99;
    }
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }
    /* nice scroll bar */
    ::-webkit-scrollbar {
      width: 5px;
    }
    ::-webkit-scrollbar-track {
      background: #f5f5f5;
      border-radius: 50px;
    }
    ::-webkit-scrollbar-thumb {
      background: var(--primary-clr);
      border-radius: 50px;
    }
    
  
    
    .left {
      width: 60%;
      padding: 20px;
    }
    .calendar {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      color: #265e99;
      border-radius: 5px;
      background-color: #fff;
    }
    /* set after behind the main element */
    .calendar::before,
    .calendar::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      width: 12px;
      height: 97%;
      border-radius: 0 5px 5px 0;
      background-color: #d3d4d6d7;
      transform: translateY(-50%);
    }
    .calendar::before {
      height: 94%;
      left: calc(100% + 12px);
      background-color: rgb(153, 153, 153);
    }
    .calendar .month {
      width: 100%;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 50px;
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: capitalize;
    }
    .calendar .month .prev,
    .calendar .month .next {
      cursor: pointer;
    }
    .calendar .month .prev:hover,
    .calendar .month .next:hover {
      color: var(--primary-clr);
    }
    .calendar .weekdays {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      font-size: 1rem;
      font-weight: 500;
      text-transform: capitalize;
    }
    .weekdays div {
      width: 14.28%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .calendar .days {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 20px;
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 20px;
    }
    .calendar .days .day {
      width: 14.28%;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: var(--primary-clr);
      border: 1px solid #f5f5f5;
    }
    .calendar .days .day:nth-child(7n + 1) {
      border-left: 2px solid #f5f5f5;
    }
    .calendar .days .day:nth-child(7n) {
      border-right: 2px solid #f5f5f5;
    }
    .calendar .days .day:nth-child(-n + 7) {
      border-top: 2px solid #f5f5f5;
    }
    .calendar .days .day:nth-child(n + 29) {
      border-bottom: 2px solid #f5f5f5;
    }
    
    .calendar .days .day:not(.prev-date, .next-date):hover {
      color: #fff;
      background-color: var(--primary-clr);
    }
    .calendar .days .prev-date,
    .calendar .days .next-date {
      color: #b3b3b3;
    }
    .calendar .days .active {
      position: relative;
      font-size: 2rem;
      color: #fff;
      background-color: var(--primary-clr);
    }
    .calendar .days .active::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      
    }
    .calendar .days .today {
      font-size: 2rem;
    }
    .calendar .days .event {
      position: relative;
    }
    .calendar .days .event::after {
      content: "";
      position: absolute;
      bottom: 10%;
      left: 50%;
      width: 75%;
      height: 6px;
      border-radius: 30px;
      transform: translateX(-50%);
      background-color: var(--primary-clr);
    }
    .calendar .days .day:hover.event::after {
      background-color: #fff;
    }
    .calendar .days .active.event::after {
      background-color: #fff;
      bottom: 20%;
    }
    .calendar .days .active.event {
      padding-bottom: 10px;
    }
    .calendar .goto-today {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      padding: 0 20px;
      margin-bottom: 20px;
      color: var(--primary-clr);
    }
    .calendar .goto-today .goto {
      display: flex;
      align-items: center;
      border-radius: 5px;
      overflow: hidden;
      border: 1px solid var(--primary-clr);
    }
    .calendar .goto-today .goto input {
      width: 100%;
      height: 30px;
      outline: none;
      border: none;
      border-radius: 5px;
      padding: 0 20px;
      color: var(--primary-clr);
      border-radius: 5px;
    }
    .calendar .goto-today button {
      padding: 5px 10px;
      border: 1px solid var(--primary-clr);
      border-radius: 5px;
      background-color: transparent;
      cursor: pointer;
      color: var(--primary-clr);
    }
    .calendar .goto-today button:hover {
      color: #fff;
      background-color: var(--primary-clr);
    }
    .calendar .goto-today .goto button {
      border: none;
      border-left: 1px solid var(--primary-clr);
      border-radius: 0;
    }
    .pcontainer .right {
      position: relative;
      width: 40%;
      min-height: 100%;
      padding: 20px 0;
    }
    
    .right .today-date {
      width: 100%;
      height: 50px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      align-items: center;
      justify-content: space-between;
      padding: 0 40px;
      padding-left: 70px;
      margin-top: 50px;
      margin-bottom: 20px;
      text-transform: capitalize;
    }
    .right .today-date .event-day {
      font-size: 2rem;
      font-weight: 500;
    }
    .right .today-date .event-date {
      font-size: 1rem;
      font-weight: 400;
      color: #ffffff;
    }
    .events {
      width: 100%;
      height: 100%;
      max-height: 600px;
      overflow-x: hidden;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      padding-left: 4px;
    }
    .events .event {
      position: relative;
      width: 95%;
      min-height: 70px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 5px;
      padding: 0 20px;
      padding-left: 50px;
      color: #fff;
      background: linear-gradient(90deg, #3f4458, transparent);
      cursor: pointer;
    }
    /* even event */
    .events .event:nth-child(even) {
      background: transparent;
    }
    .events .event:hover {
      background: linear-gradient(90deg, var(--primary-clr), transparent);
    }
    .events .event .title {
      display: flex;
      align-items: center;
      pointer-events: none;
    }
    .events .event .title .event-title {
      font-size: 1rem;
      font-weight: 400;
      margin-left: 20px;
    }
    .events .event i {
      color: var(--primary-clr);
      font-size: 0.5rem;
    }
    .events .event:hover i {
      color: #fff;
    }
    .events .event .event-time {
      font-size: 0.8rem;
      font-weight: 400;
      color: #ffffff;
      margin-left: 15px;
      pointer-events: none;
    }
    .events .event:hover .event-time {
      color: #fff;
    }
    /* add tick in event after */
    .events .event::after {
      content: "âœ“";
      position: absolute;
      top: 50%;
      right: 0;
      font-size: 3rem;
      line-height: 1;
      display: none;
      align-items: center;
      justify-content: center;
      opacity: 0.3;
      color: var(--primary-clr);
      transform: translateY(-50%);
    }
    .events .event:hover::after {
      display: flex;
    }
    .add-event {
      position: absolute;
      bottom: 30px;
      right: 30px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      color: #ffffff;
      border: 2px solid #ffffff;
      opacity: 0.5;
      border-radius: 50%;
      background-color: transparent;
      cursor: pointer;
    }
    .add-event:hover {
      opacity: 1;
    }
    .add-event i {
      pointer-events: none;
    }
    .events .no-event {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      font-weight: 500;
      color: #265e99;
    }
    .add-event-wrapper {
      position: absolute;
      bottom: 100px;
      left: 50%;
      width: 90%;
      max-height: 0;
      overflow: hidden;
      border-radius: 5px;
      background-color: #fff;
      transform: translateX(-50%);
      transition: max-height 0.5s ease;
    }
    .add-event-wrapper.active {
      max-height: 300px;
    }
    .add-event-header {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      color: #143252;
      border-bottom: 1px solid #f5f5f5;
    }
    .add-event-header .close {
      font-size: 1.5rem;
      cursor: pointer;
    }
    .add-event-header .close:hover {
      color: var(--primary-clr);
    }
    .add-event-header .title {
      font-size: 1.2rem;
      font-weight: 500;
    }
    .add-event-body {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 20px;
    }
    .add-event-body .add-event-input {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
    .add-event-body .add-event-input input {
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      border-bottom: 1px solid #f5f5f5;
      padding: 0 10px;
      font-size: 1rem;
      font-weight: 400;
      color: #143252;
    }
    .add-event-body .add-event-input input::placeholder {
      color: #a5a5a5;
    }
    .add-event-body .add-event-input input:focus {
      border-bottom: 1px solid var(--primary-clr);
    }
    .add-event-body .add-event-input input:focus::placeholder {
      color: var(--primary-clr);
    }
    .add-event-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
    }
    .add-event-footer .add-event-btn {
      height: 40px;
      font-size: 1rem;
      font-weight: 500;
      outline: none;
      border: none;
      color: #fff;
      background-color: var(--primary-clr);
      border-radius: 5px;
      cursor: pointer;
      padding: 5px 10px;
      border: 1px solid var(--primary-clr);
    }
    .add-event-footer .add-event-btn:hover {
      background-color: transparent;
      color: var(--primary-clr);
    }
    
    /* media queries */
    
    @media screen and (max-width: 1000px) {
      body {
        align-items: flex-start;
        justify-content: flex-start;
      }
      .pcontainer {
        min-height: 100vh;
        flex-direction: column;
        border-radius: 0;
      }
      .pcontainer .left {
        width: 100%;
        height: 100%;
        padding: 20px 0;
      }
      .pcontainer .right {
        width: 100%;
        height: 100%;
        padding: 20px 0;
      }
      .calendar::before,
      .calendar::after {
        top: 100%;
        left: 50%;
        width: 97%;
        height: 12px;
        border-radius: 0 0 5px 5px;
        transform: translateX(-50%);
      }
      .calendar::before {
        width: 94%;
        top: calc(100% + 12px);
      }
      .events {
        padding-bottom: 340px;
      }
      .add-event-wrapper {
        bottom: 100px;
      }
    }
    @media screen and (max-width: 500px) {
      .calendar .month {
        height: 75px;
      }
      .calendar .weekdays {
        height: 50px;
      }
      .calendar .days .day {
        height: 40px;
        font-size: 0.8rem;
      }
      .calendar .days .day.active,
      .calendar .days .day.today {
        font-size: 1rem;
      }
      .right .today-date {
        padding: 20px;
      }
    }
    
    .credits {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 10px;
      font-size: 12px;
      color: #fff;
      background-color: #327ecf;
    }
    .credits a {
      color: #fff;
      text-decoration: none;
      font-weight: 600;
    }
    .credits a:hover {
      text-decoration: underline;
    }
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }
    *::before, *::after{
      padding: 0;
      margin: 0;
    }
    
   
    .container{
      width: 350px;
      height: 650px;
      padding: 25px 30px;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      border-radius: 15px;
      background: linear-gradient(#5cd1ff 0%, #0256a5 80%);
      box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.342);
      background-blend-mode: screen;
    }
    .container i{
      cursor: pointer;
    }
    .grid-container{
      display: grid;
      border: 1px soild white;
      grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
      gap:15px;
      justify-content:center;
    }
    .top-bar, .progress-area .song-timer, 
    .controls, .music-list .header, .music-list ul li{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .top-bar i{
      font-size: 30px;
      color: #ffffff;
    }
    .top-bar i:first-child{
      margin-left: -7px;
      font-size: 22px;
    }
    .top-bar span{
      font-size: 18px;
      margin-left: -3px;
      color: #ffffff;
    }
    
    .img-area{
      width: 100%;
      height: 280px;
      overflow: hidden;
      margin-top: 25px;
      border-radius: 50%;
      border-radius: 50%;
      box-shadow: 0 0 0 5px #ffffff,
      0 0 2px #fff,
      13px 13px 20px #31313163,
      -10px -10px 20px #e6f6ff;
    
    }
    .img-area img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      
    }
    .song-details{
      text-align: center;
      margin: 30px 0;
    }
    .song-details p{
      color: #ffffff;
    }
    .song-details .name{
      font-size: 21px;
    }
    .song-details .artist{
      font-size: 15px;
      opacity: 0.9;
      line-height: 35px;
    }
    .progress-area{
      height: 6px;
      width: 100%;
      border-radius: 50px;
      background: #f0f0f081;
      cursor: pointer;
    }
    .progress-area .progress-bar{
      
      height: inherit;
      width: 0%;
      position: relative;
      border-radius: inherit;
      background: #ffffff;
    }
    .progress-bar::before{
      content: "";
      position: absolute;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      top: 50%;
      right: -5px;
      z-index: 2;
      opacity: 0;
      pointer-events: none;
      transform: translateY(-50%);
      background: inherit;
      transition: opacity 0.2s ease;
    }
    .progress-area:hover .progress-bar::before{
      opacity: 1;
      pointer-events: auto;
    }
    .progress-area .song-timer{
      margin-top: 2px;
    }
    .song-timer span{
      font-size: 13px;
      color: #ffffff;
    }
    .controls{
      margin: 70px 0 5px 0;
    }
    .controls i{
      font-size: 28px;
      user-select: none;
      background:#ffffff;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .controls i:nth-child(2),
    .controls i:nth-child(4){
      font-size: 43px;
    }
    .controls #prev{
      margin-right: -13px;
    }
    
    .controls #next{
      margin-left: -13px;
    }
    
    .controls i.prev{
      font-size: 38px;
      }
      .controls i.next{
        font-size: 38px;
        }
    
    .controls .play-pause{
      height: 54px;
      width: 54px;
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      
      ;
     
    }
    .play-pause::before{
      position: absolute;
      content: "";
      height: 43px;
      width: 43px;
      border-radius: inherit;
      background: transparent;
      border: 3px solid #ffffff;
    }
    .play-pause i{
      height: 43px;
      width: 43px;
      line-height: 43px;
      text-align: center;
      background: inherit;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: white;
      position: absolute;
      
    }
    
    .music-list{
      position: absolute;
      width: 100%;
      bottom: -55%;
      opacity: 0;
      pointer-events: none;
      left: 0;
      box-shadow: 0px -5px 10px rgba(0,0,0,0.1);
      z-index: 5;
      padding: 15px 30px;
      border-radius: 15px;
      background:
      linear-gradient(rgba(255, 255, 255, 0.973), transparent),
      linear-gradient(to top left, rgb(190, 190, 190), transparent),
      linear-gradient(to top right, rgb(194, 194, 194), transparent);
      background-blend-mode: screen;
      transition: all 0.15s ease-in-out;
    }
    .music-list.show{
      bottom: 0;
      opacity: 1;
      pointer-events: auto;
    }
    .music-list ul{
      margin-top: 10px 0;
      max-height: 260px;
      overflow: auto;
    }
    .music-list ul li{
      list-style: none;
      display: flex;
      cursor: pointer;
      padding-bottom: 10px;
      margin-bottom: 5px;
      color: #000000;
      border-bottom:  1px solid #e5e5e5;
    }
    .music-list ul li:last-child{
      border-bottom: 0px;
    }
    .music-list ul li .row span{
      font-size: 17px;
    }
    .music-list ul li .row p{
      opacity: 0.6;
    }
    ul li .audio-duration{
      font-size: 16px;
    }
    
    .header .row{
      display: flex;
      align-items: center;
      font-size: 19px;
      color: #515c6f;
    }
    
    .header .row i{
      cursor: default;
    }
    .header .row span{
      margin-left: 5px;
    }
    .header #close{
      font-size: 22px;
      color: #515c6f;
    }
    .music-list ul::-webkit-scrollbar{
      width: 0;
    }
    .music-list ul li:hover{
      color: #0e9fff;
    }
    ul li.playing{
      pointer-events: none;
      color: #0e9fff;
    }
 
  